.idea/
.run/
.gradle/
**/build
out/
bin/
*.log
logback.xml
**/.DS_Store

*.zip
*.exe
*.jar
keys/*.jks
keys/*.properties
mapsources/*.jar
mapsources/*.xml
mapsources/*.bsh
mapsources-updates/

atlases/
tilestore/
mobac-profile*.xml
settings.xml
directories.ini

.settings/
.prefs
.classpath
.project